<?xml version="1.0"?>
<config>
    <modules>
        <M_S>
            <version>0.1.0</version>
        </M_S>
    </modules>
    <frontend>
        <routers>
            <s>
                <use>standard</use>
                <args>
                    <module>M_S</module>
                    <frontName>special-order</frontName>
                </args>
            </s>
        </routers>
        <layout>
            <updates>
                <s>
                    <file>s.xml</file>
                </s>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <s>
                <use>admin</use>
                <args>
                    <module>M_S</module>
                    <frontName>special-order-admin</frontName>
                </args>
            </s>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <s module="s">
                <title>Special Orders</title>
                <sort_order>71</sort_order>
                <action>s/adminhtml_s</action>
				
            </s>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <M_S>
                            <title>S Module</title>
                            <sort_order>10</sort_order>
                        </M_S>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <s>
                    <file>s.xml</file>
                </s>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <s>
                <class>M_S_Model</class>
                <resourceModel>s_mysql4</resourceModel>
            </s>
            <s_mysql4>
                <class>M_S_Model_Mysql4</class>
                <entities>
                    <s>
                        <table>s</table>
                    </s>
                </entities>
            </s_mysql4>
        </models>
        <resources>
            <s_setup>
                <setup>
                    <module>M_S</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </s_setup>
            <s_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </s_write>
            <s_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </s_read>
        </resources>
        <blocks>
            <s>
                <class>M_S_Block</class>
            </s>
        </blocks>
        <helpers>
            <s>
                <class>M_S_Helper</class>
            </s>
        </helpers>
    </global>
</config>